/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d0d0f;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(10px);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo span {
    color: #00eaff;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #ccc;
    transition: .3s;
}

nav a:hover {
    color: #00eaff;
}

/* HERO */
#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px 40px;
    position: relative;
}

.hero-content h1 {
    font-size: 40px;
}

.hero-content h2 {
    font-size: 24px;
    color: #00eaff;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1535223289827-42f1e9919769?auto=format&w=1400") center/cover;
    opacity: 0.85;
    z-index: -1;
}

/* SEÇÕES */
.section {
    padding: 100px 10%;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #00eaff;
}

/* SOBRE */
.sobre-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.sobre-foto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #00eaff;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0,0,0,.3);
}

.sobre-conteudo {
    flex: 2;
    text-align: left;
}

.sobre-conteudo h3 {
    color: #00eaff;
    margin-top: 20px;
}

.sobre-lista li {
    background: #474949;
    margin-bottom: 8px;
    padding: 10px 14px;
    border-radius: 8px;
}

/* PROJETOS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 40px;
}

.project-card {
    background: #111;
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 0 15px #00eaff22;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px #00eaff55;
}

/* BUTTON */
.btn {
    padding: 10px 40px;
    background: #00eaff;
    color: #000;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

/* SERVIÇOS */
#servicos {
    padding: 80px 20px;
}

#servicos h2 {
    color: #00eaff;
    text-align: center;
    padding: 30px;
}

#servicos .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

#servicos .card {
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    transition: .3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

#servicos .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,234,255,0.6);
}

#servicos .card i {
    font-size: 2.5rem;
    color: #ffcc00;
    margin-bottom: 20px;
    transition: .3s;
}

#servicos .card:hover i {
    transform: scale(1.2) rotate(15deg);
    color: #00ffcc;
}

/* CONTATO */
.contato-icones {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.contato-icones a {
    font-size: 32px;
    color: #00eaff;
    transition: .3s;
}

.contato-icones a:hover {
    color: #fff;
    transform: translateY(-4px);
}
/* currículo*/
.contato-cv {
  margin-top: 35px;
  text-align: center;
}

.btn-cv {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 32px;
  background: linear-gradient(90deg, #00eaff);
  color: #020617;
  text-decoration: none;
  font-weight: 600;
  border-radius: 999px;
  box-shadow: 0 8px 30px rgba(14,165,233,.4);
  transition: 0.3s;
}

.btn-cv:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 40px rgba(14,165,233,.6);
}

/* FOOTER */
footer {
    background: #111;
    padding: 20px;
    text-align: center;
}

/* ANIMAÇÕES */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.delay1 { transition-delay: .2s; }
.delay2 { transition-delay: .4s; }
.delay3 { transition-delay: .6s; }

/* RESPONSIVO */
@media (max-width: 768px) {
    .sobre-conteudo, 
    .sobre-container {
        text-align: center;
        flex-direction: column;
    }

    .sobre-foto img {
        width: 260px;
        height: 260px;
    }
}
