body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    margin: 20px;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card h3 {
    margin: 0;
    margin-bottom: 5px;
}

.signal-summary {
    background: #eef7ff;
    padding: 10px;
    border-left: 5px solid #007bff;
    margin-top: 10px;
}

.btn {
    width: 48%;
    margin-top: 15px;
    padding: 10px;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #005fcc;
}

.right {
    float: right;
}

.timer {
    font-weight: bold;
    color: #0078ff;
}

/************ MODAL ************/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}

.modal-content {
    background: #fff;
    width: 80%;
    margin: 60px auto;
    padding: 25px;
    border-radius: 10px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 22px;
}
